[submodule "home/user/local/share/zed/extensions/installed/orchis-dark-zed-theme"]
	path = home/user/local/share/zed/extensions/installed/orchis-dark-zed-theme
	url = https://github.com/owen-debiasio/orchis-dark-zed-theme.git
