{
    "tabWidth": 4,
    "proseWrap": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.md", "*.json", "*.css"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
