@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

/* Global resets for GTK */
* {
    border: none;
    border-radius: 0;
    font-family: Aller, sans-serif;
    font-size: 17px;
    min-height: 0;
    padding: 1px;
    margin: 0;
}

/* Main Waybar Window */
window#waybar {
    background-color: rgba(33, 33, 33, 0.85);
    color: @foreground;
}

/* Workspace Button Styling */
#workspaces button {
    color: @foreground;
    padding-left: 0;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

/* Padding Fixes */
#memory,
#custom-platform-profile {
    padding-left: 1em;
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em;
}
